@model IEnumerable<EsgereMektub.Models.Setting>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MainLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AktLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Twitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Youtube)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WriteLetterSectionPic)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MainLogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AktLogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Youtube)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WriteLetterSectionPic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
